<%- include('./includes/head') %>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: <%= settings.backgroundColor || '#ccc9c9' %>;
            color: #fff;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-container {
            background-color: #1e1f36;
            padding: 20px;
            border-radius: 8px;
            width: 300px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

        .login-container h1 {
            margin-bottom: 20px;
            color: #2980b9;
        }

        .login-container input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
        }

        .login-container button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #2980b9;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
        }

        .login-container button:hover {
            background-color: #4caf50;
        }
    </style>
    <div class="login-container">
        <h1>Connexion</h1>
        <form action="/admin/login" method="POST">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>
    </div>